html,
body {
    background-color: #F3FAF9;
}

.banner-container {
    overflow: hidden; /* Hide any overflow */
    width: 100%; /* Make it full width */
}

.banner-container img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any space below the image */
}

#container {
    max-width: 1300px; 
    margin: 0 auto; /* Center the container */
}

#text_div {
    margin-left: 80px;
    margin-top: 50px;
}

#meta p {
    margin-left: 10px;
    color: #909497;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
}

h1 {
    text-align: center;
    color: #527298;
    font-size: 40px;
}

h2 {
    text-align: center;
    color: #2c3852;
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
}

p {
    color: #527298;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}
