html,
body {
    background-color: #F3FAF9;
    max-width: 1200px; /* Adjust this value for desired width */
    margin: 0 auto; /* Center the container */
}

.banner-container {
    overflow: hidden; /* Hide any overflow */
    width: 100%; /* Make it full width */
}

.banner-container img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any space below the image */
}

#text_div {
    margin-left: 10px;
    margin-right: 20px;
}

#meta p {
    margin-left: 10px;
    color: #909497;
}

h1 {
    text-align: center;
    color: #527298;
    font-size: 40px;
}

h2 {
    text-align: center;
    color: #2c3852;
}

p {
    color: #527298;
    font-size: 16px;
}
